<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<% @articles.each do |article| %>

<div class='message'>
  <div class='subject'><%= article.title %></div>
  <div class='body'><%= article.body %></div>
  <div class='row buttons'>
    <%= link_to 'Show', article, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
<br>
<% end %>

<%= link_to 'New Article', new_article_path %>
